body {
    font-family: Open Sans;
    background-color: #fffafa;
    width: 70%;
    margin: auto;
}
h1 {
    font-family: Montserrat;
}
.date {
    font-family: Roboto;
    color: #0aa
}
div.post-content {
    width: 90%;
    margin: auto;
    padding: 10px;
}